@media (min-width: 922px) {
	.col-lg-4 {
		width: 33%;
	}
}

@media (min-width: 768px) and (max-width: 921px) {
	.col-md-6, .col-md-12
	.col-md-6 {
		width: 50%;
	}
	.col-md-12 {
		width: 100%;
	}
}

@media (max-width: 767px) {
	.col-sm-12 {
		width: 100%
	}
}

body {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 24px;
	align-content: center;
}